.app-container {
  margin-left: 40px;
}

.header {

  background-color: #fff;
  padding: 10px;
  color: #000;
  text-align: center;
  position: sticky;
  top: 0;
  font-weight: 700;
  font-size: 22px;
  z-index: 1000;
}

.list-container {
  
  margin-top: 5%;
  margin-bottom: 10%;
}
.content {
  flex-grow: 1;
  padding: 20px;
}


.sticky-button {
  position: sticky; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  bottom: 0;
  right: 0;
  float: right;
}

