/* WebApp.css */
.web-app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.contacts-container {
  width: 20%;
  background-color: #ffffff;
  overflow-y: auto; /* Add scroll if content overflows */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.chat-container {
  flex-grow: 1;
  background-color: #DAE5F5;
  top: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  margin: 0%;
}
